{:paths ["bb"]
 :deps {org.babashka/esbuild {:local/root "."}
        org.babashka/libesbuild {:local/root "libesbuild"}}
 :tasks
 {natives {:doc "Builds the shim into libesbuild/resources"
           :requires ([natives])
           :exec-fn natives/build}
  publish:libesbuild {:doc "Deploys libesbuild to Clojars, --bump for a new version"
                      :requires ([tasks])
                      :exec-fn tasks/publish-libesbuild}
  publish:esbuild {:doc "Deploys babashka.esbuild to Clojars, --bump for a new version"
                   :requires ([tasks])
                   :exec-fn tasks/publish-esbuild}
  install:libesbuild {:doc "Installs libesbuild into the local m2"
                      :task (shell {:dir "libesbuild"} "clojure -T:build install")}
  test {:doc "Runs the tests on babashka"
        :depends [natives]
        :extra-paths ["test"]
        :requires ([clojure.test :as t] [babashka.esbuild-test])
        :task (let [{:keys [fail error]} (t/run-tests 'babashka.esbuild-test)]
                (System/exit (if (pos? (+ fail error)) 1 0)))}}}
